/* FONT  weights (500,700)*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

/* COLORS PALLETE */
:root {
    --dark-cyan: hsl(180, 29%, 50%);
    --background-color: hsl(180, 52%, 96%);
    --filter-tablets-color: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

#filter-section {
    position: relative;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;

}

#filter-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5em;
    height: fit-content;
    width: 82%;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0px 9px 12px 0px rgba(177, 207, 210, 1);
    -moz-box-shadow: 0px 9px 12px 0px rgba(177, 207, 210, 1);
    box-shadow: 0px 9px 12px 0px rgba(177, 207, 210, 1);
}

#buttons-bar {
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.delete-filter-btn {
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url('../images/icon-remove.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 45%;
    background-color: var(--dark-cyan);
    border: none;
    cursor: pointer;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.delete-filter-btn:hover {
    background-color: var(--very-dark-grayish-cyan);
}

.filter-item {
    display: inline-block;
    height: 2em;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: var(--filter-tablets-color);
}

.filter-item-text {
    margin: 0;
    font: inherit;
    padding: 0 0.5em;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-cyan);
    background-color: var(--filter-tablets-color);
}

#clear-btn {
    position: absolute;
    right: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    color: var(--dark-grayish-cyan);

}

#clear-btn:hover {
    color: var(--dark-cyan);
    text-decoration: underline;
}